* {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: black;
}

h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 25px;
}

body {
    background-color: #e5e5e5;
}

textarea {
    width: 100%;
    height: 300px;
}

input,
textarea {
    border-radius: 2px;
    border: 1px solid #c9c9c9;
}

/* BUTTONS */

.error-msg {
    color: white;
    background-color: #ce4040;
    padding: 20px;
    margin-top: 30px;
    border-radius: 4px;
}

.del-btn input {
    background-color: #d22f2f;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    border: solid 2px #c65555;
}

.action-btn input,
.action-btn a {
    background-color: #6b44bf;
    color: white;
    padding: 8px 30px;
    border-radius: 5px;
    border: solid 2px #8c76bc;
    text-decoration: none;
}

.action-btn input:hover,
.action-btn a:hover,
.del-btn input:hover {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    transition-duration: 300ms;
}

/* END: BUTTONS */

/* HEADER STYLES */

#text-logo {
    font-weight: 900;
    font-size: 50px;
}

#site-logo {
    float: left;
    position: absolute;
    padding: 10px;
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:850px) {
    #site-logo {
        margin: 0 auto;
        width: 150px;
        float: none;
        position: relative;
    }

    #main-content {
        padding-top: 150px !important;
    }

}

.site-header {
    background-color: white;
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 5px 0px rgba(0, 0, 0, .3);
    z-index: 1;
}

.nav-wrapper {
    display: flex;
    justify-content: center;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links>li {
    margin: 30px 20px;
}

.nav-links>li>a {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

/* END: HEADER */

/* HOMEPAGE POSTS */

#main-content {
    display: grid;
    width: 100%;
    padding-top: 50px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.posts-content {
    grid-column: 3 / span 8;
    padding: 50px 0;
    margin-top: 30px;
}

.content-container,
.post-container {
    display: flex;
    margin: 20px;
    padding: 25px;
    background-color: white;
}


.user-post-image {
    margin-right: 25px;
}

.user-post-image img {
    height: auto;
    border: solid 1px black;
}

.content-wrapper {
    width: 70%;
}

.post-title>h1>a {
    text-decoration: none;
    font-size: 40px;
}

.post-content>p {
    color: #606060;
    font-style: italic;
}

.date-container {
    position: absolute;
    right: 94px;
    background-color: #666;
    padding: 20px;
}

.post-buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.page-btn {
    text-decoration: none;
    border: solid 1px black;
    padding: 6px 10px;
    border-radius: 20px;
    margin: 0 2px;
    font-size: 11px;
}

.active-page {
    background-color: black;
    color: white;
}

/* END: HOMEPAGE POSTS */

/* FORM STYLES */

.field-wrapper {
    margin-top: 30px;
}

.form-content {
    margin: 20px;
    padding: 25px;
    background-color: white;
}

.form-label {
    font-size: 20px;
    color: #37a2fd;
    font-weight: 300;
    width: 200px;
    display: inline-block;
    text-align: left;
}

.account-container,
.form-group {
    margin-bottom: 20px;
}

/* END: FORMS */

/* SINGLE POSTS */

.post-display-title>h1,
legend {
    font-family: 'Montserrat';
    color: #8c8c8c;
    font-size: 40px;
    font-weight: 900;
}

.post-display-title,
.form-legend legend {
    margin-bottom: 30px;
}

.post-display-title {
    width: 100%;
}

.post-display-img {
    float: left;
    margin: 20px;
}

.user-options {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
}

/* END: SINGLE POSTS */