{% extends "layout.html" %}
{% block content %}
<div>
    <h1>Welcome back {{ user.username }}! ({{ posts.total }})</h1>
    <p>Heres a list of all your posts.</p>
</div>
{% for post in posts.items %}
<div class="dash-container">
    <div class="board-posts">
        <div class="post-title">
            <h1><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h1>
            <p>{{ post.date.strftime('%m/%d/%Y') }}</p>
            <div class="action-btn dash-btn">
                <a href="{{ url_for('post_update', post_id=post.id) }}">Edit</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}