<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>POST.it - Blog Your Heart Out</title>
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css') }}">
</head>

<body>
    <header class="site-header">
        <nav class="navigation">
            {% if current_user.is_authenticated %}
            <div id="site-logo">
                <img src="{{ url_for('static', filename='imgs/sitelogo.svg') }}">
                <small>POST.IT</small>
            </div>
            {% endif %}
            <div class="nav-wrapper">
                <div class="nav-menu">
                    <ul class="nav-links">
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                        {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('create_post') }}">Create Post</a></li>
                        <li><a href="{{ url_for('account') }}">Account</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        {% else %}
                        <li>
                            <p id="text-logo">POST.it</p>
                        </li>
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        <li><a href="{{ url_for('registration') }}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="main-content">
        <div class="posts-content">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="{{ category }}">
                <p>{{ message }}</p>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </div>
    <footer>
    </footer>
</body>

</html>