{% extends "layout.html" %}
{% block content %}
<div class="form-content">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend>Join</legend>
            <div class="field-wrapper">
                <p style="margin-bottom:20px;">Register now to start posting!</p>
                <div class="form-group">
                    {{ form.user.label(class="form-label") }}

                    {% if form.user.errors %}
                    {{ form.user(class="error-msg") }}
                    <div>
                        {% for error in form.user.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.user() }}
                    {% endif %}


                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-label") }}

                    {% if form.email.errors %}
                    {{ form.email(class="error-msg") }}
                    <div>
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email() }}
                    {% endif %}

                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-label") }}

                    {% if form.password.errors %}
                    {{ form.password(class="error-msg") }}
                    <div>
                        {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password() }}
                    {% endif %}

                </div>
                <div class="form-group">
                    {{ form.verify_pass.label(class="form-label") }}

                    {% if form.verify_pass.errors %}
                    {{ form.verify_pass(class="error-msg") }}
                    <div>
                        {% for error in form.verify_pass.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.verify_pass() }}
                    {% endif %}

                </div>
            </div>
        </fieldset>
        <div class="form-group action-btn">
            {{ form.submit() }}
        </div>
    </form>
    <div>
        <small>
            Already have an account? <a href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>
</div>
{% endblock content %}